# Configuration file for launching tasks on Compute Canada

jobs: 500  
local-cores: 1

jobscript: "slurm-jobscript.sh"
cluster: "slurm-submit.py"
#cluster-status: "slurm-status.py"

#default-resources: [mem_mb=4000, time="01:00:00"]
restart-times: 3
max-jobs-per-second: 1
max-status-checks-per-second: 1
latency-wait: 60
rerun-incomplete: True
printshellcmds: True
use-conda: True
use-singularity: True
singularity-args: "--bind /scratch --bind /home --bind /project"
keep-going: True
notemp: True
conda-frontend: "mamba"
conda-cleanup-pkgs: "cache"
